html, body {
    
    overflow: hidden;
}

.fondo {
    background: url('/img/inicio.png') no-repeat center center fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
  
}

.login-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 15px;
    padding: 30px;
max-width: 400px;
    width: 100%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
